<form accept-charset="UTF-8" action="/" method="post">
  <input type="text" name="search" class="input-large search-query">
  <button class="btn btn-large btn-primary" type="submit">Grab!</button>
</form>